<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="css/bootstrap.css"></link>
    <title>Example App</title>
</head>
<body>
 <div class="container">

<p>
    <a href="/contact">Contact us</a> | 
    <a href="/about">About us</a> | 
    <a href="/logout">Logout</a> | 
</p>

    {{{body}}}
 </div>
</body>
</html>